// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5 h6 {
	color: $primary;
	text-transform: uppercase;
}

/*MODULE*/

.module-title {
	font-weight: 700;
	border-bottom: 2px solid $grayline;
	position: relative;
	color: $primary;
}

.module-content {
	padding-right: 40px;
}


.module-title::before {
	content: '';
	width: 14px;
	height: 14px;
	background-color: $grayline;
	border-radius: 50%;
	position: absolute;
	right: -7px;
	bottom: -7px;
	display: block;
}

.authors-block {
	color: $aqua;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 40px;
}

.learning-outcomes-block {
	background-color: $primary;
	padding: 20px;
	color: #fff;
	margin: 40px 0;
	background-image: url(../imgs/nodes.svg);
	background-position: right top;
	background-size: 100px;
	background-repeat: no-repeat;
}

.learning-outcomes-block h2 {
	color: #fff;
}


.learning-outcomes-block li {
	margin: 10px 0;
}

//intro media
.intro-media {
	display: block;
	margin: 30px 0;
}

//glossary
.glossary {
	margin: 40px 0;
}

.glossary button {
	width: 400px;
	height: 80px;
	background-image: url(../imgs/data_glass.svg);
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 1.5em;
}

.glossary button.collapsed:after {
	content: '+';
	display: inline-block;
	font-size: 1em;
	color: #fff;
	float:right;
}

.glossary button:after {
	content: '-';
	display: inline-block;
	font-size: 1em;
	color: #fff;
	float:right;
}

.glossary a {
	font-weight: 700;
	text-decoration: underline;
	// text-decoration-color: $orange;
}

.glossary ul {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}

.glossary li {
	margin: 15px 0;
	padding: 0 0 0 10px;
	border-left: 3px solid $orange;
}

//recommended readings 
.readings {
	margin: 40px 0;
	overflow: hidden;
}

.readings li {
	margin: 10px 0;
}

//resources
.resources {
	margin: 40px 0;
}

.resources li {
	margin: 10px 0;
}

//lessons list 
.lessons {
	margin: 40px 0;
}

.lessons ul {
	list-style: none;
}

.lessons li {
	margin: 10px 0;
}

.here {
	font-weight: 700;
	background-color: $lightprimary;
	padding: 5px 10px 5px 15px;
}



/*****************************LESSON SINGLES***************************/

blockquote {
  background: $lightaqua;
  border-left: 10px solid $aqua;
  margin: 40px 0;
  padding: 10px 20px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2em;
  line-height: 1.1;
  font-style: italic;
  font-weight: 100;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

blockquote:before {
  color: $aqua;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.attribution {
	font-size: .8em;
    margin: 20px 0 20px 0;
    display: block;
    text-align: right;
    width: 100%;
}

.lesson-content {
	padding-right: 40px;
}

//sections
.section-activity {
	border: 2px solid $purple;
	padding: 20px;
	background-color: $purple;
	background-image: url(../imgs/data_brain.svg);
	background-position: right top;
	background-size: 100px;
	background-repeat: no-repeat;
	color: #fff;
}

.section-activity h3 {
	color: #fff;
	margin-top: 15px;
	font-size: 1.5em;
}



//video fluid 

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    box-shadow: 8px 8px 0px $purple;

}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

//people 

.person {
	margin: 40px 0;
	padding: 0 20px;
}

.bio-pic {
	object-fit: cover;
	width: 100%;
	height: 250px;
}

//sidebar 

.logo {
	display: block;
	margin: 30px;
}


.lessons {
	box-shadow: 2px 2px 15px -7px #000000;
	border-top: 10px solid $yellow;
	padding: 20px 15px;
}

.lessons h2:after {
	content: '01101100 01100101 01110011 01110011 01101111 01101110 01110011';
	display: block;
	color: $gray;
	font-size: 11px;
	opacity: .3;
	margin-top: -5px;
	margin-left: 2px;
}

.lessons ul {
	margin-left: 10px;
	padding-left: 0;
}

//FOOTER
#wrapper-footer {
	background-color: $lightblue;
}